<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User Profile</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='profile.css') }}"
    />
  </head>
  <body>
    <div class="profile-container">
      <!-- Profile Picture -->
      <img
        src="{{ url_for('static', filename='profile.jpg') }}"
        alt="Profile Picture"
        class="profile-pic"
      />

      <h1 class="profile-title">Profile</h1>
      <p class="profile-text"><strong>Username:</strong> {{ user.username }}</p>
      <p class="profile-text"><strong>Email:</strong> {{ user.email }}</p>

      <button
        type="button"
        class="logout-button"
        onclick="location.href='{{url_for('nothing.pateint_video')}}'"
      >
        Monitor
      </button>
      <!-- Logout Button -->
      <button
        type="button"
        class="logout-button"
        onclick="location.href='{{ url_for('auth.logout') }}'"
      >
        Logout
      </button>
    </div>
  </body>
</html>
